@model Controle_Financeiro.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<h3 class="page_header">Apagar Categoria</h3>
<h4>Você realmente deseja apagar essa Categoria?</h4>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

  
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Deletar Categoria" class="btn btn-danger" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    }
</div>